In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\pgang\appdata\local\programs\python\python311\lib\site-packages (2.2.3)

WARNING: Ignoring invalid distribution ~etuptools (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~illow (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~etuptools (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~illow (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~etuptools (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~illow (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
!pip uninstall pandas numpy -y
!pip install numpy==1.24.4 pandas==2.0.3

Found existing installation: pandas 2.0.3
Uninstalling pandas-2.0.3:
  Successfully uninstalled pandas-2.0.3
Found existing installation: numpy 1.24.4
Uninstalling numpy-1.24.4:
  Successfully uninstalled numpy-1.24.4
Collecting numpy==1.24.4
  Using cached numpy-1.24.4-cp311-cp311-win_amd64.whl.metadata (5.6 kB)
Collecting pandas==2.0.3
  Using cached pandas-2.0.3-cp311-cp311-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pgang\appdata\roaming\python\python311\site-packages (from pandas==2.0.3) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pgang\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.0.3) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pgang\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.0.3) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\pgang\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.0.3) (1.15.0)
Using cached numpy-1.24.4-cp311-cp311-win_amd64.whl (14.8 MB)
Using cached pandas-2.0.3-cp311-cp311-win_amd64.whl (10.6 MB)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3

WARNING: Ignoring invalid distribution ~etuptools (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~illow (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~etuptools (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~illow (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~etuptools (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~illow (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (C:\Users\pgang\AppData\Local\Programs\Python\Python311\Lib\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
mediapipe 0.10.5 requires opencv-contrib-python, which is not installed.
scikit-learn 1.5.1 requires threadpoolctl>=3.1.0, but you have threadpoolctl 2.1.0 which is incompatible.
ultralytics 8.3.68 requires opencv-python>=4.6.0, but you have opencv-python 4.5.5.64 which is incompatible.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd

In [4]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=["Row1",'Row2','Row3','Row4','Row5'],columns=["column1",'column2','column3','column4'])

In [5]:
df

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [6]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [7]:
df.to_csv("test.csv")

In [8]:
df.loc["Row1"]

column1    0
column2    1
column3    2
column4    3
Name: Row1, dtype: int32

In [10]:
type(df.loc["Row1"])

pandas.core.series.Series

In [15]:
type(df.iloc[0:1,0])

pandas.core.series.Series

In [17]:
df.iloc[:,1:].values.shape

(5, 3)

In [19]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [18]:
df['column1'].value_counts()

column1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [20]:
df["column1"].unique()

array([ 0,  4,  8, 12, 16])

In [21]:
df=pd.read_csv("test.csv")

In [22]:
df.head()

  Unnamed: 0  column1  column2  column3  column4
0       Row1        0        1        2        3
1       Row2        4        5        6        7
2       Row3        8        9       10       11
3       Row4       12       13       14       15
4       Row5       16       17       18       19

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5 non-null      object
 1   column1     5 non-null      int64
 2   column2     5 non-null      int64
 3   column3     5 non-null      int64
 4   column4     5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 328.0+ bytes

In [24]:
df.tail()

  Unnamed: 0  column1  column2  column3  column4
0       Row1        0        1        2        3
1       Row2        4        5        6        7
2       Row3        8        9       10       11
3       Row4       12       13       14       15
4       Row5       16       17       18       19

In [25]:
df.describe()

         column1    column2    column3    column4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [27]:
df.describe().std()

column1    4.914623
column2    5.036833
column3    5.197540
column4    5.393305
dtype: float64

In [28]:
df[df['column1']>5]

  Unnamed: 0  column1  column2  column3  column4
2       Row3        8        9       10       11
3       Row4       12       13       14       15
4       Row5       16       17       18       19

In [29]:
from io import StringIO,BytesIO

In [30]:
data=('col1,col2,col3\n'
      'x,y,1\n'
      'a,b,2\n'
      'c,d,3\n')

In [31]:
type(data)

str

In [32]:
StringIO()

In [33]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [34]:
df=pd.read_csv(StringIO(data),usecols=['col1','col3'])

In [35]:
df

  col1  col3
0    x     1
1    a     2
2    c     3

In [38]:
pd.read_csv(StringIO(data),index_col='col1')

     col2  col3
col1
x       y     1
a       b     2
c       d     3